.end_game_true {
  display: none;
}

.end_game_false {
  display: inline;
}

.is_ready_true {
  display: inline;
}

.is_ready_false {
  display: none;  
}

.is_win_true {
  display: block;
}

.is_win_false {
  display: none;
}

.is_lose_true {
  display: block;
}

.is_lose_false {
  display: none;
}

.bear_5 {
  background: url(/images/stories/bear5.png);
}

.bear_4 {
  background: url(/images/stories/bear4.png);
}

.bear_3 {
  background: url(/images/stories/bear3.png);
}

.bear_2 {
  background: url(/images/stories/bear2.png);
}

.bear_1 {
  background: url(/images/stories/bear1.png);
}

.bear_0 {
  background: url(/images/stories/bear0.png);
}

