#HangmanCtrl{
	width:400px;
	height:550px;
	position:relative;
	border: solid 1px;
}

.end_game_true {
  display: none;
}

.end_game_false {
  display: inline;
}

.is_ready_true {
  display: inline;
}

.is_ready_false {
  display: none;  
}

.is_win_true{
	font-size: 40px;
	font-weight: bold;
	color: blue;
	position:absolute;
	top:250px;
	left:180px;
	display: inline;
}
.is_win_false{
	display: none; 
}
.is_lose_true{
	font-size: 40px;
	font-weight: bold;
	color: red;
	position:absolute;
	top:250px;
	left:180px;
	display: inline;
}
.is_lose_false{
	display: none; 
}

.input_container{
	position:absolute;
	top:500px;
	left:20px;
}

.bear_5 {
  background: url('./images/Bear5.png');
}

.bear_4 {
  background: url('./images/Bear4.png');
}

.bear_3 {
  background: url('./images/Bear3.png');
}

.bear_2 {
  background: url('./images/Bear2.png');
}

.bear_1 {
  background: url('./images/Bear1.png');
}

.bear_0 {
  background: url('./images/Bear0.png');
}

.bear{
	width: 360px;
	height: 464px;
	background-size:360px 464px;
	background-repeat:no-repeat;
	display:inline-block;
	position:absolute;
	top:20px;
	left:20px;
}
