<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app>
<head>
  <title>Hangman</title>
  <script type="text/javascript" src="lib/angular-1.0.1.min.js"></script>
  <script type="text/javascript" src="src/Hangman.js"></script>
  <link rel="stylesheet" type="text/css" href="hangman.css">
</head>
<body>
  <div ng-controller="HangmanCtrl">
    <div> Life Time: {{lifeTimes}}</div>
    <div>{{displayStarsText}}</div>
    <div class="bear_{{lifeTimes}}">{{lifeTimes}}</div>
    <div class="is_win_{{isWin()}}">You win</div>
    <div class="is_lose_{{isLose()}}">You lose</div>
    <input type="text" ng-model="inputText" placeholder="Enter a character"></input>
    <button ng-click="enterCharacter(inputText)" class="end_game_{{isLose() || isWin() || !isReady}}">Submit</button>
    <button ng-click="setNewGame(chooseWordRandomly())">New Game</button>
  </div>
</body>
</html>
